@import "tailwindcss";

:root {
  --background: rgba(12, 18, 36, 1);
  --foreground: #171717;
}

@theme inline {
  --background: var(--background);
  --font-inter: var(--font-inter);
  --breakpoint-xs: 30rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
}