@import "tailwindcss";

:root {
  --background: rgba(12, 18, 36, 1);
  --foreground: #171717;

}

@theme inline {
  --background: var(--background);
  --font-inter: var(--font-inter);
  --breakpoint-xs: 30rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: 'Semox';
  src: url('/fonts/Semox.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Emigow';
  src: url('/fonts/Emigow.otf') format('opentype');
  font-display: swap;
}

.font-heading {
  font-family: 'Semox', sans-serif;
}

.font-content {
  font-family: 'Emigow', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
}

.bg-pclubBg{
  background-color: #0C1224;
}
/* Flip Card Styles */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}

/* Shine animation */
@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-shine {
  animation: shine var(--duration, 14s) infinite linear;
  background-size: 300% 300%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #080C18;
}

::-webkit-scrollbar-thumb {
  background: rgb(188, 188, 188);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(188, 188, 188);
}

.prose ul,
.prose ul ul {
  list-style-type: disc !important;
  margin-left: 1.5rem !important;
}